/* * THis is styles for Button */

.button {
  display: block;
}

.button_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid lawngreen;
}
