/* * THis is styles for MaLone */

.malone {
  display: block;
}

.malone_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid lawngreen;
}
