html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #faead6;
  background-color: #2c302d;
}


img {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;;
}
