.game {
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px 30px 40px;
    background: linear-gradient(120deg, #2c302d, #474747);
    min-width: 550px;
}

.result {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.label {
    display: block;
}

.input {
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
    background: gray;
    border: 2px solid white;
    padding: 2px 10px;
    font-family: cursive;
    font-size: 16px;
    color: #000;
}
.input:focus {
    outline: 2px solid lawngreen;
    outline-offset: -2px;
}
.input:disabled {
    opacity: .1;
}

.btn {
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    transition-property: border-color, background-color, color;
    transition-duration: 0.36s;
    transition-timing-function: ease-in-out;
}
.btn:focus {
    outline: 2px solid lawngreen;
    outline-offset: -2px;
}
.btn:hover {
    background-color: white;
    border-color: white;
    color: black;
}
.btn:disabled {
    opacity: .1;
}


::selection {
    background-color: #111;
    color: #d7d7d7;
}