.game {
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px 30px 40px;
}

.result {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.label {
    display: block;
}

.input {
    height: 30px;
    width: 100px;
    outline: none;
    border: none;
}
.input:focus {
    outline: 2px solid lawngreen;
    outline-offset: -2px;
}

.btn {
    padding: 5px 10px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    transition-property: border-color, background-color, color;
    transition-duration: 0.36s;
    transition-timing-function: ease-in-out;
}
.btn:focus {
    outline: 2px solid lawngreen;
    outline-offset: -2px;
}

.btn:hover {
    background-color: white;
    border-color: white;
    color: black;
}
